{% extends 'base.html' %}

{% block title %}Añadir Asignatura por Carrera{% endblock %}

{% block content %}
<h1>Añadir Asignatura por Carrera</h1>
<hr>

<form method="post">

    <!-- Carrera -->
    <div class="mb-3">
        <label for="idcarrera" class="form-label">Carrera</label>
        <select class="form-select" id="idcarrera" name="idcarrera" required>
            <option value="">Seleccione una carrera...</option>
            {% for c in carreras %}
            <option value="{{ c.idcarrera }}">
                {{ c.idcarrera }} - {{ c.descripcion_carrera }}
            </option>
            {% endfor %}
        </select>
    </div>

    <!-- Asignatura -->
    <div class="mb-3">
        <label for="idasignatura" class="form-label">Asignatura</label>
        <select class="form-select" id="idasignatura" name="idasignatura" required>
            <option value="">Seleccione una asignatura...</option>
            {% for a in asignaturas %}
            <option value="{{ a.idasignatura }}">
                {{ a.idasignatura }} - {{ a.nombre_asignatura }}
            </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>
    <a href="{{ url_for('list_asignaturaxcarrera') }}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}

