<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Control Escolar{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">Control Escolar</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <!-- Estudiantes -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Estudiantes</a>
        </li>

        <!-- Carreras -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('list_carreras') }}">Carreras</a>
        </li>

        <!-- Asignatura x Carrera -->
         <li class="nav-item">
             <a class="nav-link" href="{{ url_for('list_asignaturaxcarrera') }}"> Asignaturas por Carrera</a>

        <!-- Departamentos -->
         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list_departamentos') }}">Departamentos</a>
        </li>
        <!-- Asignaturas -->
         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list_asignaturas') }}">Asignaturas</a>
        </li>
        <!-- Tipo de beca -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list_tipobeca') }}">Tipos de Beca</a>
        </li>
        <!-- Beca -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list_becas') }}">Becas</a>
        </li>
        <!-- Departamento de Asignatura -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list_departamentos_asignatura') }}">Departamentos de Asignatura</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

    <!-- END NAVBAR -->


    <!-- CONTENIDO PRINCIPAL -->
    <div class="container mt-5">

        <!-- Mostrar mensajes flash (alertas) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mb-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Aquí se cargan todos los templates hijos -->
        {% block content %}{% endblock %}

    </div>

    <!-- JS de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
